<h1>Resultados de vuelos fake</h1>

<hr>

<p>Vas a tener que enviar a la BBDD los valores desde: {{departure}}, a: {{arrival}}, fecha ida: {{from}}, fecha
    vuelta: {{to}} y clase: {{class}}</p>

<a href="/vuelos/buscar">Volver a buscar otro vuelo</a>